.steps-slider{
   display: none;
}

.steps {
   padding-top: 50px;
   padding-bottom: 150px;

   &__inner {
      position: relative;
      overflow: hidden;
      .plane {
         position: absolute;
         right: -55px;
         bottom: 0;
      }
   }
   &__title {
      max-width: 720px;
      margin-bottom: 50px;
      // float: left;
   }
   &__title-inner {
      font-size: 54px;
      line-height: 120%;
      text-transform: uppercase;
      display: inline;
      float: left;
      // margin-right: 17px;
      &:nth-child(2) {
         margin-right: 17px;
      }
   }
   &__subtitle {
      // float: left;
      // display: inline;
      color: #3057a2;
      font-family: "Golos Text", "sans-serif";
      line-height: 120%;
      font-size: 20px;
      margin-top: 6px;
      display: inline-block;
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
   }
   &-item {
      gap: 16px;
      &__num {
         font-weight: 600;
         width: 36px;
         height: 36px;
         border-radius: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #fff;
         flex-shrink: 0;
      }
      &__text {
         max-width: 440px;
      }
      font-family: "Golos Text", "sans-serif";
      font-weight: 500;
      padding: 20px;
      display: flex;
      justify-content: left;
      min-height: 112px;
      background-image: url("../img/steps/step-item-bg.jpg");
      &:nth-child(3) {
         grid-row: span 2;
      }
      &:nth-child(7) {
         grid-column: span 2;
      }
   }
   .swiper-pagination{
      position: static;
      transform: translateY(20px);
      height: 60px;
      .swiper-pagination-bullet{
         width: 10px;
         height: 10px;
      }
      .swiper-pagination-bullet-active{
         background-color: #313131;
      }
   }
   .steps-nav{
      display: flex;
      justify-content: center;
      gap: 120px;
      button{
         width: 44px;
         height: 44px;
         background-color: #313131;
         color: #fff;
         border-radius: 50%;
         &:hover{
             background-color: #FBCE51;
         }
         
     }
     .swiper-button-prev svg{
         transform: translate(-2px, 3px);
     }
     .swiper-button-next svg{
         transform: translate(2px, 3px);
     }
   }

   .swiper-button-next, .swiper-button-prev{
      position: static;
      transform: translateY(-24px);
      &::after{
         content: "";
      }
      flex-basis: content;
   }
   
}
